
TraineeBanking/.vs/config/applicationhost.config
TraineeBanking/.vs/TraineeBanking/v15/.suo
TraineeBanking/.vs/TraineeBanking/v15/Server/sqlite3/storage.ide-shm
TraineeBanking/TraineeBanking/obj/Debug/TraineeBanking.csproj.CoreCompileInputs.cache
TraineeBanking/TraineeBanking/obj/Debug/TraineeBanking.csprojAssemblyReference.cache
TraineeBanking/.vs/TraineeBanking/v15/Server/sqlite3/storage.ide-shm
*.ide-shm
