body {
    background-image: url(../../../Images/Background_cliente.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.vr {
    display: inline;
    height: 100%;
    width: 1px;
    border: 1px inset;
    margin: 5px;
}

.background {
    max-height: 200px;
    max-width: 200px;
}

.h1 {
    color: black;
    font-family: Gabriola;
    font-size: 80px;
}

.logout {
    background-color: rgba(11, 62, 128, 1);
}

.hr {
    width: 100%;
    border-bottom: 1px solid #000;
    height: 1px;
}

.blackBorderRight{
    border-right: 1px solid #000;
}

.blackBorderTop {
    border-top: 1px solid #000;
    padding-top: 20px;
    width: 275px;
}

.blackBorderTop2 {
    border-top: 1px solid #000;
    padding-top: 20px;
}

.footerColor {
    background-color: rgba(11, 62, 128, 1);
    color: white;
    width: 100%
}
